@()

@import helper._

<script type="text/javascript" src='@routes.Assets.at("javascripts/user/users.js")'></script>

<form id="userSearchForm" action="@routes.Users.users" method="post" class="form-horizontal">
    <fieldset>
        <legend>User Search</legend>

        <div class="control-group">
            <label class="control-label" for="id">ID</label>

            <div class="controls">
                <input id="id" type="text" placeholder="ID">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="filter">Filter</label>

            <div class="controls">
                <input id="filter" type="password" placeholder="Filter">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Case Sensitive
                </label>

                <button id="search" type="submit" class="btn">Search</button>
            </div>
        </div>
    </fieldset>
</form>