@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    </head>

    <body>
        <div id="nav">
            <div class="btn-group">
                <a id="usersButtonGroup" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                    Users
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a id="users" href="#">View All Users</a>
                        <script type="text/javascript" src='@routes.Assets.at("javascripts/users.js")'></script>
                    </li>

                    <li>
                        <a id="userSearch" href="#">User Search</a>
                        <script type="text/javascript" src='@routes.Assets.at("javascripts/userSearch.js")'></script>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content">
        </div>
    </body>
</html>