@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    </head>

    <body>
        <div id="nav">
            <div class="btn-group">
                <a id="usersButtonGroup" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Users
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a id="users" href="#">View All Users</a>

                        <script>
                            $(function() {
                                $("#users").click(function() {
                                    $.getJSON('/users', function(users) {
                                        $("#content").html("<ul id='usersList' style='color: white'></ul>");

                                        $.each(users, function(index, user) {
                                            $("#usersList").append("<li>" + user.id + ",&nbsp;" + user.firstName + ",&nbsp;" + user.lastName + "</li>");
                                        });
                                    });
                                });
                            });
                        </script>
                    </li>

                    <li>
                        <a id="user1" href="#">View User with ID of 1</a>

                        <script>
                            $(function() {
                                $("#user1").click(function() {
                                    $.getJSON('/users/1', function(user) {
                                        $("#content").html("<h3 style='color: white'>User ID: " + user.id + "</h3>");
                                    });
                                });
                            });
                        </script>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content">
        </div>
    </body>
</html>